@media (min-width: 768px) {
    #menu {
		display: none; 
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

    .completed {
        padding: 8px;
        background: brown; 
        border: 1px solid black;
    }

    .incomplete {
        padding: 8px;
        background-color: white;
        border: 1px solid black;
    }
}